<p>
    Current player is: {{ gameState.getNextPlayer() }}<br />
    Score: {{ gameState.evaluateScore(gameState.getNextPlayer()) }}
</p>

<table>
    {% for y in range(0, boardDimensions.height - 1) %}
        <tr>
            {% for x in range(0, boardDimensions.width - 1) %}
                <td style="width: 50px; height: 50px; border: 1px solid black;">
                    {% if gameState.board.getField(y, x) == 'B' %}
                        {% include '_player_token.html.twig' with { 'color': 'blue' } %}
                    {% elseif gameState.board.getField(y, x) == 'R' %}
                        {% include '_player_token.html.twig' with { 'color': 'red' } %}
                    {% else %}
                        <form action="/move/{{x}}/{{y}}" method="post">
                            <input type="submit" value="X" />
                        </form>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<p>
    <form action="/pass" method="post">
        <input type="submit" value="Pass" />
    </form>
</p>

<p>
    <form action="/clear" method="post">
        <input type="submit" value="Clear session" />
    </form>
</p>
